<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enjoy IT RSS</title>
    	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap4.min.css">
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
	<script src="https://kit.fontawesome.com/0cb8db593d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="static/common.css">

	<script type="text/javascript" class="init">


$(document).ready(function() {
	var table = $('#example').DataTable( {
		fixedHeader: true,
		order: [ 2, 'desc']
	} );
} );


	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175057637-1"></script>
	<script>
 	 window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-175057637-1');
	</script>



</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <script>
		alert("{{ message }}");
        </script>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<div class="content">
    <div class="top-content">
        <h3 class="top-desc">이메일을 등록하고 최신 IT 글을 받아보세요.</h3>
        <form id="email_form" name="email_form" method="post" action="/insert_email">
            <div class="form-group container">
                <input name="email" type="email" class="form-control col-md-6" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <button type="submit" class="btn btn-success">등록하기</button>
                <small id="emailHelp" class="form-text text-muted">매일 오전 9시에 글을 업데이트하고 오전 10시에 메일로 발송해드립니다.</small>

            </div>
        </form>
    </div>
    <div class="container">
	    <p class="mail-desc">RSS 추가 요청은 yundol@kakao.com으로 문의메일 주세요</p>
	    <span class="badge badge-dark">update : {{up_day}}</span>
	<div class="row col-md-12 status-box">
		<div class="col-md-4 status-small-box left-content">
			<div class="status-box-content">
				<h6>신규 게시글</h6>
		<h2>{{ new_post | length }}</h2>
			</div>
		</div>
		<div class="col-md-4 status-small-box mid-content">
			<div class="status-box-content">
				<h6>등록된 총 게시글</h6>
			<h2>{{ post_list|length }}</h2>
			</div>
		</div>
		<div class="col-md-4 status-small-box right-content">
			<div class="status-box-content">
				<h6>넣을꺼 생각중</h6>
			</div>
		</div>
	</div>
        <div class="row col-md-12">
	 <table id="example" class="table table-striped table-bordered" style="width:100%">
        	<thead>
            		<tr>
               		<th width="25%">Author</th>
                	<th>Title</th>
                	<th width="25%">Date</th>
            		</tr>
        	</thead>
        	<tbody>
		{% for post in post_list %}
		<tr style="cursor:pointer" onclick="window.open('{{post.link}}'),'',''">
			<td>{{post.author}}</td>
			<td>{{post.title}}</td>
			<td>{{post.date}}</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot></tfoot>
		</table>
        	</div>
    	</div>
</div>
    <footer class="footer">
        <p>Copyright © 2020 YUNDOL. All rights reserved.</p>
    </footer>
</body>
</html>
